# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Logs
*.log
logs/

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
